
.newPizza{
  display: none;
}

.orderForm{
  display: none;
}
.pizza{
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 2px solid green;
  text-align: center;
}

.createOrder{
  position: absolute;
  bottom: 10%;
  left: 13%;
  width: 100px;
}
.newPizza{
  margin: 20px;
  margin-left: 13%;
}
.finalForm{
  display: none;
}